.wrapperDisplay {
  width: 100%;
  height: 100vh;
}

.widgetWrapper {
  width: 100%;
  height: 100%; /* Ensure it fills the parent */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-image: url("src/assets/images/baruch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

// .qIcon{
//   border: 2px solid orange;
// }
@media (min-width: 34rem) {
  .qIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; 

  }
}
