.warning-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1200; /* Ensure it's on top */
  pointer-events: auto; /* Ensure it captures clicks */
  transition: opacity 0.3s ease-in-out;
}
.contentWrapper {
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 1080px;
  max-height: 20%;
  z-index: 1201;
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
}
.textWrapper > h1 {
  text-transform: capitalize;
  margin-bottom: 0;
}
.textWrapper > h2 {
  margin-top: 0px;
  font-size: 1.2rem; /* Adjust as needed */
}
.contentWrapper > button {
  background-color: #0a66c2;
  border-radius: 100px;
  color: #ffffff;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  transition: background-color 0.3s;
  &:active {
    background-color: #085394;
  }
}
.headerWrapper {
  display: flex;
  align-items: center;
  gap: 16px; /* Adjust gap as needed */
}
.textWrapper {
  text-align: left; /* Center text alignment */
}
.triIcon {
  display: flex;
  align-items: center; /* Center align the icon vertically */
  justify-content: center;
  height: calc(100px - 32px); /* Adjust as needed */
  width: auto; /* Maintain aspect ratio */
  position: relative;
  top: 12px;
}

