/* Oomph PAGE LAYOUT */

@include oomphAll
 
{
 background: $bodyBgColor;
h1,
h2,
h3,
h4,
h5 
{	
	font-weight: 600;
}
h1 {
	text-transform: capitalize;
}
h2 {
	color: $secondaryColor;
	margin: 5px 0 10px 0;

	&.highcontrast {
  		color: $headingColor;
    }		    	
}

.body-wrapper {
	max-width: 1080px;
    width: 100%;
    margin: 0 auto;
	background: #0073aa url('../img/bg_grad.jpg') top no-repeat;

}

.home .flextext {
	margin-top: 0;
}

.title-typical {
	height: 300px;

	@include medium {
		background-size: cover;
		height: 283px;
	}

	@media screen and (max-width: 823px) {
		height: 228px;
	}

	@media screen and (max-width: 812px) {
		height: 224px;
	}

	@media screen and (max-width: 768px) {
		height: 213px;
	}

	@media screen and (max-width: 736px) {
		height: 204px;
	}

	@include small {
		height: 195px;
	}

	@media screen and (max-width: 667px) {
		height: 185px;
	}

	@media screen and (max-width: 640px) {
		height: 177px;
	}

	@media screen and (max-width: 568px) {
		height: 157px;
	}

	@media screen and (max-width: 540px) {
		height: 150px;
	}
	
	@media screen and (max-width: 414px) {
		height: 115px;
	}

	@media screen and (max-width: 375px) {
		height: 104px;
	}	

	@media screen and (max-width: 360px) {
		height: 100px;
	}
	@media screen and (max-width: 320px) {
		height: 89px;
	}
	@media screen and (max-width: 280px) {
		height: 77px;
	}

}
.flex-grid-two {
    .flex-col-1 {
        width: 22%;  

        @include medium {
        	width: 100%;
        }       
    }
    .flex-col-2 {
    	width: 74%;
        
        @include medium {
        	width: 100%;
        }     	
    }
}


}

//STYLES FOR TEMPLATE SINGLE PAGE 
@include oomphSingle {

}
//STYLES FOR TEMPLATE PAGE WITH RIGHT BAR
@include oomphRightBar {

.flex-grid-two {
	& > div {
	    @include medium {
	    	margin-top: 15px;
	    }
    }    
}
.flex-middle {
	width: 52%;
}
.flex-right {
	width: 22%;	
}

.flex-middle,
.flex-right 
{
	@include medium {
	 	margin-top: 15px;
	    width: 100%;
	}
	
	& > *:first-child {
		margin-top: 0;
	}
}
}