/* PAGE LAYOUT */
/* for home H2 to appear without margin-top */
.page-template-template-home .content > div {
	margin-top: 0;
}

.title-typical-inner {

	.centered-content {
		.centered-content-inner {
			display: table-cell;
		    vertical-align: middle;
		    padding: 140px 0;

		    &.no-title {

		    	@include small {
		    		padding: 62px 0;
		    	}
		    }
		    
		    &.no-title-with-inset {
		    	@include bigger-than-small {
		    		padding: 185px 0;
		    	}
		    }

		    @include medium {
		    	padding: 130px 0;
		    }

		    @include small {
		    	padding: 30px 0;
		    }
		    
		    #section-title {
			    
			    width: 25%;
		    	// padding: 7px 0px;
		    	padding:0;
		    	margin: 0;
			    display: block;
			    text-transform: uppercase;
		    	top: 94px;
			    left: 13px;

		    	border-top: 1px dotted black;
			    border-bottom: 1px dotted black;

			    font-size: 37px;
			    color: black;			    
			    text-shadow: 0px 0px 19px #fff;
			    line-height: 1.1em;

			    &.title-with-inset {
			    	padding: 7px 0px;
			    	margin: 1em 0 15px 0;
			    	top: 94px;

			    	@include small {
			    		top: 0;
			    	}
			    }			    

			    @include medium {
			    	display:inline-block;
			    	top:0;
			    	left:0;
			    	font-size:32px;
			    }

			    @include small {
			    	width:100%;
			    	display:block;
			    	font-size:28px;			    	
			    }
			    span {
			    	display: block;

			    	font-weight: 400;
			    }

		    }

		   	.inset{
			   	position: absolute;
			    right: 7%;
			    top: 16%;
			    max-width: 450px;
			    text-align: center;

			    * {
			    	box-shadow: 2px 2px 2px #777;		    	
			    }
			    @include medium {
			    	right:2%;
			    	box-shadow: none;
			    }

			    @include small {
			    	position:relative;
			    	max-width:100%;
			    	margin-bottom: 20px;
			    	top:4%;			    	
			    	right: 0;
			    }
			    .inset-image {
			    	display: inline-block;
			    	@include small{
			    		max-width: 325px;
			    	}
			    }
			    iframe.inset-video {
			    	width: 480px;
			    	height:265px;
			    	border:none;
			    }
		   	}
		}
	}
}